#info {
    float: left;
    margin-top: 5em;
    
    width: 94vw;
    
    padding-left: 3vw;
    padding-right: 3vw;
}

#parametr {
    text-align: right;
    color: #AAAAAA;
}

#value {
    padding-left: 1em;
}