<!doctype html>
<html>
<head>
    <title>Smart House</title>
    <link rel="stylesheet" href="../static/style/style.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id='right'>
        <img id='diagram' src='../static/img/radar.png'>
    </div>
    
    <div id='houses'>
        <img class='house' id='one' src='../static/img/1.png'>
        <img class='house' id='two' src='../static/img/2.png'>
        <img class='house' id='three' src='../static/img/3.png'>
    </div>
    
    <script src="../static/js/script.js"></script>
</body>
</html>