<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Smart House - Sensor</title>
    
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/sensor.css">
</head>
<body>
    <div id="bar">
        <a class="bar_links" id="main_barLink" href="/sensor">Sensors</a>
        <a class="bar_links" id="news_barLink" href="/complete">Steps</a>
        <a class="bar_links" id="support_barLink" href="/diagram">Diagram</a>
    </div>
    <div id="info">
        <h1>Traceability Blockchain</h1>
        <table>
            <tr>
                <td id="parametr">Record</td>
                <td id="value">4484fd47ece84010</td>
            </tr>
        </table>
        <h2>Record Info</h2>
        <table>
            <tr>
                <td id="parametr">Owner</td>
                <td id="value">BelBlockSrtoy</td>
            </tr>
            <tr>
                <td id="parametr">Holder</td>
                <td id="value">BelBlockSrtoy</td>
            </tr>
            <tr>
                <td id="parametr">Time</td>
                <td id="value">Sun Sep 23 2017 21:29:10 GMT+0300 (EEST)</td>
            </tr>
            <tr>
                <td id="parametr">Sensor</td>
                <td id="value">0013A20040DA69FC</td>
            </tr>
            <tr>
                <td id="parametr">Final</td>
                <td id="value">true</td>
            </tr>
            <tr>
                <td id="parametr">Status</td>
                <td id="value">Accepted</td>
            </tr>
            <tr>
                <td id="parametr">From</td>
                <td id="value">Max</td>
            </tr>
            <tr>
                <td id="parametr">Type</td>
                <td id="value">Owner</td>
            </tr>
            <tr>
                <td id="parametr">Terms</td>
                <td id="value">$3000</td>
            </tr>
        </table>
        <h2>Construction Info</h2>
        <table>
            <tr>
                <td id="parametr">ProductDescription</td>
                <td id="value">Gut</td>
            </tr>
            <tr>
                <td id="parametr">Width</td>
                <td id="value">3000</td>
            </tr>
            <tr>
                <td id="parametr">Height</td>
                <td id="value">4000</td>
            </tr>
            <tr>
                <td id="parametr">VesselName</td>
                <td id="value">Jamshut</td>
            </tr>
            <tr>
                <td id="parametr">FSC cert Number</td>
                <td id="value">FSC Number</td>
            </tr>
            <tr>
                <td id="parametr">ProductName</td>
                <td id="value">Prefab Frame</td>
            </tr>
            <tr>
                <td id="parametr">VesselState</td>
                <td id="value">RI</td>
            </tr>
            <tr>
                <td id="parametr">VesselIdentifier</td>
                <td id="value">1234</td>
            </tr>
            <tr>
                <td id="parametr">TypesGearUsed</td>
                <td id="value">Rod</td>
            </tr>
            <tr>
                <td id="parametr">FishMarketName</td>
                <td id="value">Cod</td>
            </tr>
            <tr>
                <td id="parametr">ProductPresentation</td>
                <td id="value">Fresh</td>
            </tr>
            <tr>
                <td id="parametr">Quantity</td>
                <td id="value">1</td>
            </tr>
        </table>
    </div>
</body>
</html>